<div class="about-section">
  <div class="content">
    <div class="text-content">
      <h1 class="font-size">Bienvenido a Cultura y Fé</h1>
      <p class="text-align">
        Welcome to our application. We are dedicated to providing the best
        service possible. Our team works hard to bring you the latest features
        and updates. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Eos earum, nam cumque minima sint voluptatibus odio, necessitatibus
        assumenda excepturi ullam, vitae a expedita neque ad atque animi mayores
        officiis at!
      </p>
    </div>
    <div class="image-content ">
      <img
        src="../../../assets/2025_OP2.jpg"
        alt="Image Description"
        class="about-image"
      />
      <div class="image-text-content margin-1" >
        <h2>Imagen Título</h2>
        <p class="text-align">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur
          earum ipsa eligendi ratione, accusantium sequi distinctio cum
          obcaecati totam nam hic. Quas nihil cumque quasi ea alias assumenda
          similique porro.
        </p>
        <div class="button-container">
          <button class="about-button">Learn More</button>
        </div>
      </div>
    </div>
    <div class="image-content">
      <div class="image-text-content margin-1">
        <h2>Otro Imagen Título</h2>
        <p class="text-align">
          Otro texto descriptivo para la segunda imagen. Lorem ipsum dolor sit
          amet, consectetur adipiscing elit. Fusce ultricies mauris ac felis
          sodales, et aliquet orci scelerisque.
        </p>
        <div class="button-container otro">
          <button class="about-button">Learn More</button>
        </div>
      </div>
      <img
        src="../../../assets/2024_op2.JPG"
        alt="Otra Image Description"
        class="about-image"
      />
    </div>
  </div>
</div>
