<div class="about-section">
  <div class="content">
    <div class="text-content">
      <h1 class="font-size">ARTE​​ | CULTURA | ESPIRITUALIDAD</h1>
      <p class="text-align">
        Welcome to our application. We are dedicated to providing the best
        service possible. Our team works hard to bring you the latest features
        and updates. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Eos earum, nam cumque minima sint voluptatibus odio, necessitatibus
        assumenda excepturi ullam, vitae a expedita neque ad atque animi mayores
        officiis at!
      </p>
    </div>
  </div>
</div>
