<div class="about-section">
  <div class="content">
    <div class="text-content">
      <h1 class="font-size">ARTE​​ | CULTURA | ESPIRITUALIDAD</h1>
      <p class="text-align subtitle">El lugar donde el Arte y la Fe se encuentran</p>
      <br>
      <p class="text-align">
        En Cultura y Fe expresamos la amistad entre la Iglesia y el mundo del
        arte. Desde los inicios del cristianismo, hemos comprendido el poder de
        las artes y sus múltiples lenguajes para comunicar el mensaje eterno de
        salvación.
      </p>
      <p class="text-align">
        Nuestro trabajo busca transmitir la belleza en todas sus formas, desde
        la música y el arte contemporáneo hasta la iconografía y el patrimonio
        cristiano.
      </p>
    </div>
  </div>
</div>
