<div class="four-section-images">
  <div class="image-container first-image">
    <img src="../../../assets/baner2019a.jpg" alt="Image 1">
    <div class="image-title">2019</div>
  </div>
  <div class="image-container second-image">
    <img src="../../../assets/2023.jpg" alt="Image 2">
    <div class="image-title">2023</div>
  </div>
  <div class="image-container third-image">
    <img src="../../../assets/2024.jpg" alt="Image 3">
    <div class="image-title">2024</div>
  </div>
  <div class="image-container fourth-image">
    <video #hoverVideo src="../../../assets/A_2025_video.mov" muted></video>
    <div class="image-title">2025</div>
  </div>
</div>
